.flex-flow {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    margin-left: 6%;
    margin-right: 6%;
    position: relative;

  }

  .nowrap {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-top: 15px;
    margin-top: 15px;
    border-top: solid 1px #e1e1e1;
    padding-bottom: 40px;
    margin-left: 6%;
    margin-right: 6%;
    position: relative;  position: relative;
    text-align: center;
  }

header {
display: flex;
flex-flow:row nowrap;
justify-content: flex-start;
width: 2.5vw;
height: 2.5vw;
margin-left: 4%;
margin-top: 1%;
flex: 0 100%;
}


.img1 {
  background-image: url("https://a0.muscache.com/im/pictures/70544624-0388-4837-be69-902ad1a6b8c5.jpg?im_w=720");
  border-radius: 7px;
  padding-bottom: 15%;
  width: 15%;
  margin-bottom: 8%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 15%;  
}

.img2 {
    background-image: url("https://a0.muscache.com/im/pictures/70544624-0388-4837-be69-902ad1a6b8c5.jpg?im_w=720");
    border-radius: 7px;
    padding-bottom: 15%;
    width: 15%;
    margin-bottom: 8%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 15%;    
}

.img3 {
    background-image: url("https://a0.muscache.com/im/pictures/f3184ce8-b3b6-4665-beb9-72457fafee56.jpg?im_w=720");
    border-radius: 7px;
    padding-bottom: 15%;
    width: 15%;
    margin-bottom: 8%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 15%;  
}
.img4 {
    background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-53550055/original/eda273a9-2046-41f9-8674-0f7b2feac2e4.jpeg?im_w=720");
    border-radius: 7px;
    padding-bottom: 15%;
    width: 15%;
    margin-bottom: 8%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 15%;  
}

.img5 {
    background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-48929626/original/a6948608-7ae0-4c7b-93b0-f2901e447d25.jpeg?im_w=720");
    border-radius: 7px;
    padding-bottom: 15%;
    width: 15%;
    margin-bottom: 8%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 15%;  
}

.img6 {
    background-image: url("https://a0.muscache.com/im/pictures/a4d51bff-57b2-4a61-bee8-a38f4053525a.jpg?im_w=720");
    border-radius: 7px;
    padding-bottom: 15%;
    width: 15%;
    margin-bottom: 8%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 15%;  
}
.img7 {
  background-image: url("https://a0.muscache.com/im/pictures/9da940a2-82d0-4efc-808e-381292ac5321.jpg?im_w=720");
  border-radius: 7px;
  padding-bottom: 15%;
  width: 15%;
  margin-bottom: 8%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 0 15%;  
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
}


  @media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }

  figcaption {
    text-align: center;
    padding: 5px;
    margin-left: 6%;
    margin-right: 6%;
    font-size: 10px;
  }